header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headerBorder {
    display: flex;
    margin: 35px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 8px;

}

.numberOfTasksContainer {
    display: flex;
    flex-direction: column;
}

.numberOfTasksByCatag {
    display: flex;
    flex-direction: row;
}

.numberOfTasksFiltered {
    margin: 5px;
}

.inputTask {
    border: none;
}

.addContainer {
    display: flex;
    flex-direction: row;
}